body, header, div, main, h2, h1, p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --chicken-color: #b23b3b;
    --beef-color: rgb(19, 69, 144);
    --sushi-color: rgb(161, 154, 23);
}

h1 {
    text-align: center;
    margin: 3rem 0 0;
}

main {
    padding: 2rem 2rem;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-auto-rows: 1fr;
}

div {
    border: solid #00008b;
    background-color: #ededed;
}

h2 {
    float: right;
    padding: 0.5rem 1rem;
    border: solid;
    background-color: #00008b;
    color: #ededed;
}

p {
    clear: both;
    padding: 1rem;
}

.chicken {
    border-color: #b23b3b;
}

.chicken h2 {
    background-color: #b23b3b;
}

.sushi {
    border-color: var(--sushi-color);
}

.sushi h2 {
    background-color: var(--sushi-color);
}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1201px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}
